# EULA
server/eula.txt
# Fabric安装文件
server/.fabric-installer
server/fabric-installer-*.jar
# mixin输出
server/.mixin.out
# 可以自动生成的文件
server/.fabric
server/bluemap
server/config/luckperms/translations
server/config/carpettisaddition
server/config/lithium.*
server/config/bluemap/resources
server/config/bluemap/missing-configs
server/config/bluemap/core.conf
server/config/c2me-bstats.json
server/config/skinrestorer
server/config/TabTPS/userdata
server/lib
# 保持默认的设置
server/config/TabTPS/display-configs
server/config/TabTPS/themes
server/ban*
server/ops.json
# 不用的MOD
server/mods/不用的
# 日志和崩溃报告
logs
server/logs
server/crash-reports
# Bluemap网页文件
server/bluemap/web
# 存档
server/world/advancements
server/world/data
server/world/DIM*
server/world/entities
server/world/playerdata
server/world/poi
server/world/region
server/world/stats
server/world/level.*
server/world/session.lock
server/world/uid.dat
# 包含密钥的文件
server/config/FabricProxy-Lite.toml
# 暂时用不到的
*luckperms
server/config/cardboard.yml
# 其他
*.7z